@page
@model Films.Pages.CreateModel
 
<h2>Добавление нового фильма</h2>
<form method="post">
    <p><label>Название:</label><br />
        <input name="title" />
    </p>
    <p>
        <label>Описание:</label><br />
        <input name="description"/>
    </p>
    <p>
        <label>Режисёр:</label><br />
        <input name="director" />
    </p>
    <p>
        <label>Страна:</label><br />
        <input name="country" />
    </p>
    <p>
        <label>Дата выхода:</label><br />
        <input name="data" />
    </p>
    <p>
        <label>Жанр:</label><br />
        <input name="genre" />
    </p>
    <p>
        <label>Продолжительность:</label><br />
        <input name="time" />
    </p>
    <p>
        <label>В ролях:</label><br />
        <input name="inrole" />
    </p>
    <p>
        <label>Постер:</label><br />
        <input name="img" />
    </p>
    <p>
        <label>Трейлер:</label><br />
        <input name="trailer" />
    </p>
    <input type="submit" value="Отправить" />
</form>