@page
@model Films.Pages.CreateModel
 
<h2>Добавление нового фильма</h2>
<form method="post">
    <p><label>Название:</label><br />
        <input name="title" />
    </p>
    <p>
        <label>Описание:</label><br />
        <input name="description"/>
    </p>
    <input type="submit" value="Отправить" />
</form>