html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #5B7065;
    border-radius: 5px;
}

.header {

    min-height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;

    text-align: center;
}



.container {
    background-color: #304040;
    margin-bottom: 30px;
    border-radius: 20px;
}

.maintext {
    color: #C9D1C8
}